{% load static %}

<div class="nav-right">
    <ul class="header-right"> 
        {% include 'partial/header/nav-right/_language.html' %}
        {% include 'partial/header/nav-right/_search.html' %}
        {% include 'partial/header/nav-right/_dark-mode.html' %}
        {% include 'partial/header/nav-right/_cart.html' %}
        {% include 'partial/header/nav-right/_notification.html' %}
        {% include 'partial/header/nav-right/_full-screen.html' %}
        {% include 'partial/header/nav-right/_bookmark.html' %}
        {% include 'partial/header/nav-right/_cloud-mode.html' %}        
        {% include 'partial/header/nav-right/_user.html' %}            
                
    </ul>
</div>