{% load static %}
<li class="custom-dropdown">
    <div class="translate_wrapper">
        <div class="current_lang"><a class="lang" href="javascript:void(0)">
            <i class="flag-icon flag-icon-br"></i>
            <h6 class="lang-txt f-w-700">pt_br</h6></a>
        </div>
        <ul class="custom-menu profile-menu language-menu py-0 more_lang">
            {% include 'partial/header/nav-right/language/_pt-br.html' %}
            {% include 'partial/header/nav-right/language/_en.html' %}
            {% include 'partial/header/nav-right/language/_es.html' %}
            {% include 'partial/header/nav-right/language/_fr.html' %}
        </ul>
    </div>
</li>
