{% load static %}
<li class="search d-lg-none d-flex">
    <a href="javascript:void(0)">
        <svg id="Search" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <g>
                    <circle id="Ellipse_739" cx="11.7666" cy="11.7666" r="8.98856" />
                    <path id="Line_181" opacity="0.4" d="M18.0183 18.4851L21.5423 22" />
                </g>
            </g>
        </svg>
    </a>
</li>