{% load static %}
<li class="sidebar-main-title">
    <div>
        <h5 class="f-w-700 sidebar-title pt-3">Administração</h5>
    </div>
</li>
<li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)">
    <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Bag"></use>
    </svg>
    <h6 class="f-w-600">Cadastros</h6><i class="iconly-Arrow-Right-2 icli"> </i></a>
    <ul class="sidebar-submenu">
        <li> <a href="#">Pessoa Física</a></li>
        <li> <a href="#">Pessoa Jurídica</a></li>
        <li> <a href="#">Clientes</a></li>
        <li> <a href="#">Fornecedores</a></li>
        <li> <a href="#">Prestadores de Serviços</a></li>
        <li> <a href="#">Proprietários</a></li>
        <li> <a href="#">Instituições Bancárias</a></li>
        <li> <a href="#">Embarcadores</a></li>
        <li> <a href="#">Funcionários</a></li>
        <li> <a href="#">Motoristas</a></li>
    </ul>
</li>
<li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)">
    <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Bag"></use>
    </svg>
    <h6 class="f-w-600">Veículos</h6><i class="iconly-Arrow-Right-2 icli"> </i></a>
    <ul class="sidebar-submenu">
        <li> <a href="#">Caminhões</a></li>
        <li> <a href="#">Implementos</a></li>
    </ul>
</li>