{% load static %}
<li class="sidebar-main-title">
    <div>
        <h5 class="lan-1 f-w-700 sidebar-title">Administração</h5>
    </div>
</li>
<li class="sidebar-list"><i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)"> 
    <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Home-dashboard"></use>
    </svg>
    <h6>Dashboards</h6><span class="badge">3</span><i class="iconly-Arrow-Right-2 icli"></i></a>
    <ul class="sidebar-submenu">
        <li> <a href="#">Default</a></li>
        <li><a href="#">Ecommerce </a></li>
        <li> <a href="#">Education</a></li>
    </ul>
</li>