{% load static %}
<li class="sidebar-main-title">
    <div>
        <h5 class="sidebar-title pt-3 f-w-700">Recursos Humanos</h5>
    </div>
</li>
<li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)">
    <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Bag"></use>
    </svg>
    <h6 class="f-w-600">Folha de Pagamento</h6><i class="iconly-Arrow-Right-2 icli"> </i></a>
    <ul class="sidebar-submenu">
        <li> <a href="#">Caminhões</a></li>
        <li> <a href="#">Implementos</a></li>
    </ul>
</li>
<li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)">
    <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Bag"></use>
    </svg>
    <h6 class="f-w-600">Registro de Ponto</h6><i class="iconly-Arrow-Right-2 icli"> </i></a>
    <ul class="sidebar-submenu">
        <li> <a href="#">Caminhões</a></li>
        <li> <a href="#">Implementos</a></li>
    </ul>
</li>