{% load static %}

<!-- Bootstrap Icons-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- Flag icon css -->
<link rel="stylesheet" href="{% static '/vendor/assets/css/vendors/flag-icon.css' %}"/>
<!-- iconly-icon-->
<link rel="stylesheet" href="{% static 'vendor/assets/css/iconly-icon.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/assets/css/bulk-style.css' %}"/>
<!-- iconly-icon-->
<link rel="stylesheet" href="{% static 'vendor/assets/css/themify.css' %}"/>
<!--fontawesome-->
<link rel="stylesheet" href="{% static 'vendor/assets/css/fontawesome-min.css' %}"/>
<!-- Whether Icon css-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/assets/css/vendors/weather-icons/weather-icons.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/assets/css/vendors/scrollbar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/assets/css/vendors/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/assets/css/vendors/slick-theme.css' %}"/>
<!-- App css -->
<link rel="stylesheet" href="{% static 'vendor/assets/css/style.css' %}"/>
<link id="color" rel="stylesheet" href="{% static 'vendor/assets/css/color-1.css' %}" media="screen"/>
<!-- Style css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">